<% include /header %>

	<div class="body">
		<div class="row">
			<div class="col-md-4 col-sm-4"></div>
			<div class="col-md-4 col-sm-4">
				<% if (typeof errMsg !== "undefined") { %>
				<!-- if errMsg.msg is defined, that means a errMsg object was created and a URL was not input. -->
				<h1>Please Ender a valid URL</h1>
				<% } %>
				<h3>Enter URL Below:</h3><br>
					<form action="/thanks" method="post">
						<input type="text" name="url" value="http://">
						<input type="submit" value="Generate">
					</form>
			</div>
			<div class="col-md-4 col-sm-4"></div>
		</div>
	</div>

<% include /footer %>